@import "reset.css";
body{
    background-color:rgb(19,23,34) !important;  
}
.title{
    color: rgb(207,205,218);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
    font-size : 40px;
}
.mystock{
    margin: 10px auto auto 70px;
    display:inline-block;
    border: 1px solid #19ce60;
    color: rgb(207,205,218);
}
.subject{
    width: 600px;
    font-size: 16px;
    font-weight: bold;
    color:rgb(207,205,218);
}
.subject div{
    display:flex;
}

.object{
    width:100px;
    display:inline-block;
}
.wrap {
    margin: auto;
    width: 400px;
}
.inputs{
    border:1px solid #03c75a;
    flex:0.5;
}
.btn{
    margin-left: 10px;
    border-radius: 5px;
    border-color: white;
    background-color: rgb(207,205,218);
    color: #f3f5f7;
}
#search{
    background-color:rgb(32,38,55);
    border: 1px solid rgb(207,205,218);
    margin-top: 20px;
    padding: 10px 15px;
    width:380px;
    font-size:13px;
    color : #f3f5f7;
}